<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de plataformas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Plataformas</h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>URL Plataforma</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% for plataforma in plataformas %}
                    <tr>
                        <td>{{ plataforma.id }}</td>
                        <td>{{ plataforma.nombre }}</td>
                        <td>
                            {% if plataforma.url_plataforma %}
                                <a href="{{ plataforma.url_plataforma }}" target="_blank" class="btn btn-link">{{ plataforma.url_plataforma }}</a>
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                        <td>
                            {% if plataforma.imagen %}
                                <img src="data:image/jpeg;base64,{{ plataforma.imagen }}" alt="Imagen de {{ plataforma.nombre }}" class="img-fluid" style="max-width: 150px; max-height: 150px; object-fit: cover;">
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('plataforma_bp.editar_plataforma', id=plataforma.id) }}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{{ url_for('plataforma_bp.eliminar_plataforma', id=plataforma.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar esta plataforma?')">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('plataforma_bp.agregar_plataforma') }}" class="btn btn-primary">Agregar Plataforma</a>
    </div>
</body>
</html>